.backgroundMobile {
    display: none;
    background-color: #e0e8ff;
    position: fixed;
    top: 0px;
    left:0px;
    height: 50%;
    width: 100%;
    z-index: -1;
}

.backgroundDesktop {
    display: block;
    background-color: #e0e8ff;
    position: fixed;
    top: 0px;
    left:0px;
    height: 50%;
    width: 100%;
    z-index: -1;
}

@media all and (max-width: 459px) {
    .backgroundDesktop {display: none;}
    .backgroundMobile {display: block;}
}